.header-title {
    font-family: Nunito Sans;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-align: left;
    transform: translateX(100px);
  }
  
  .catregory-title {
    transform: translateX(40px);
  }
  
  .box {
    width: 300px;
    display: flex;
    justify-content: space-between;
  }
  
  .react-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .react-modal-content {
    position: relative;
    padding: 20px;
    border-radius: 8px;
    outline: none;
  }
  
  .modal-title {
    text-align: center;
  }
  
  .modal-form {
    width: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
  }
  
  .label {
    margin-bottom: 8px;
  }
  
  .input-name {
    padding: 8px;
    margin-bottom: 16px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .select-status {
    padding: 8px;
    margin-bottom: 16px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .save-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    background-color: rgba(37, 182, 121, 1);
  }
  
  .wrapper-btns {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .react-modal-content {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    outline: none;
  }
  
  .react-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears above other elements */
  }
  
  .modal-btn {
    width: 40px;
    height: 40px;
    padding: 13px;
    border-radius: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: rgba(37, 182, 121, 1);
    margin-top: 20px;
  }
  
  .wrapper-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 232px;
    height: auto;
    margin: 0 auto;
    padding: 16px;
    position: absolute;
    border-radius: 14px;
    transform: translateX(20px);
    margin-top: -20px;
    transform: translateX(-220px);
    background-color: rgba(250, 250, 250, 1);
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
  }
  
  .categorys-btn {
    width: 40px;
    height: 40px;
    font-size: medium;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
  
  .button-edit {
    width: 90px;
    height: 44px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 0 auto;
  }
  
  .button-delete {
    width: 90px;
    height: 44px;
    background-color: transparent;
    border: none;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
  }
  
  .trash-image {
    width: auto;
    height: auto;
  }
  
  .box {
    width: 300px;
    display: flex;
    justify-content: space-between;
  }
  
  table {
    width: 500px;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  .catalog-name {
    width: 200px;
    height: auto;
    padding: 4px;
    border-radius: 50px;
    text-align: center;
    background-color: #FF3A2933;
  }
  
  th,
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    color: black;
    margin-left: 20px;
  }
  
  tbody tr:hover {
    background-color: #f5f5f5;
  }